@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
	<div class="agileits-top">
		<form action="Login" method="post">
			<div asp-validation-summary="All"></div>
			<br />
			<input class="text" type="text" asp-for="Email" placeholder="Email" required="">
			<span class="text-danger" asp-validation-for="Email"></span>
			<br />
			<input class="text" asp-for="Password" placeholder="Password" required="">
			<span class="text-danger" asp-validation-for="Password"></span>
			<br />
			
			<br />

			<div class="wthree-text">
				<label class="anim">
					<input type="checkbox" class="checkbox">
					<span>Remember Me</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="Login">
		</form>
		<p>Don't have an Account? <a asp-action="Register"> Register Now!</a></p>
		<p><a asp-action="ForgetPassword"> Forget Password!</a></p>
	</div>
</div>
@section Validation {
	<script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
}

