@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<form action="ResetPassword" method="post">
			<div asp-validation-summary="All"></div>
			<input hidden asp-for="Email" required="">
			<input hidden asp-for="Token" required="">

			<br />
			<input class="text" asp-for="Password" placeholder="Password" required="">
			<span class="text-danger" asp-validation-for="Password"></span>
			<br />
			<input class="text" asp-for="ConfirmPassword" placeholder="ConfirmPassword" required="">
			<span class="text-danger" asp-validation-for="ConfirmPassword"></span>
			<br />

			<input type="submit" value="Reset Password">
		</form>
		<p><a asp-action="Login">Cancel</a></p>
	</div>
</div>
@section Validation {
	<script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
}

