@model Employee
@{
    ViewData["Title"] = "Edit";
}

<h3>Edit @Model.Name</h3>
<form method="post" class="form" asp-action="Edit">
    @* <div asp-validation-summary="All"></div> *@

    <partial name="PartialViews/_CreateEditPartial"></partial>

    <div class="mt-3">
        <button class="btn btn-success">Update</button>
        <a class="btn btn-danger" asp-action="Index">Cancel</a>
    </div>
</form>
